div.l_r {
   padding-top: 15px;
}

div#btn-div {
    text-align: right;
}

.required-star {
    color: red;
}

#birthday {
    background-color: white;
}

#birthday:hover {
    cursor: pointer;
}

table#account-info-tab {
    text-align: center;
}

table#account-info-tab tbody tr:hover {
    cursor: pointer;
}
